<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/GreenBlog")
</head>
<body>
    <div id="templatemo_menu_panel">
        <div id="templatemo_menu_section">
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Archives</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="templatemo_header_content_container">
        <div id="templatemo_header_section">
            <div id="templatemo_title_section">
                Software Designs
            </div>
        </div>
    </div>
    <div id="templatemo_content_left">
        <div id="templatemo_content_left">

        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
               
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
